 <div class="container-fluid"> 
  <h2><%= t 'pets.form.title' %></h2>


<%= form_for @pet, :html => {  :multipart => true} do |f| %>


  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
         <%= image_tag @pet.picture.url(:thumb), :class => "img-circle" %>
       </div>
    </div>
    <div class="col-md-6">
 
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
         <%= f.file_field :picture , :class => "file" %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="form-group"> 
         <%= f.text_field :name, :class => "form-control", :placeholder => :name %>
       </div>
    </div>
  </div>


  <div class="form-group">
   <%= f.label :size %> 
   <fieldset>
     <%= f.radio_button :size, "small" %>
     <%= f.label :size_small  %>
     <%= f.radio_button :size, "medium" %>
     <%= f.label :size_medium %>
     <%= f.radio_button :size, "big" %>
     <%= f.label :size_big %>
    </fieldset>
  </div>


  <%= f.label :age %>
  <div class="form-group">
    <%= f.number_field :age, in: 0...15 %>
    <%= f.label :age %>

    <%= f.number_field :ageMonth, in: 1...12  %>
    <%= f.label :ageMonth %>
  </div>

  
   <div class="form-group">
   <%= f.label :animal %> 
    <fieldset>
      <%= f.label :animal_cat %>
      <%= f.radio_button :animal, "cat"  %>
      <%= f.label :animal_dog %>
      <%= f.radio_button :animal, "dog"  %>
    </fieldset>
  </div>

   <div class="form-group">
      <%= f.label :breed %>
      <%= f.text_field :breed, :id => "breeds" , :class => "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, :class => "form-control" %>
  </div>

  <%= f.submit :class => "btn btn-custom form-control text-center"  %>

<% end %>

</div>

<script>
  $(function(){
 
    var breedsCat = [
    "Exotic Shorthair",
    "Khao Manee",
    "Korat",
    "Chinese Li Hua",
    "Asian—Burmilla",
    "Asian—Smoke",
    "Asian—Solid and Tortie",
    "Asian—Tabby",
    "Bombay",
    "Singapura",
    "European Burmese",
    "American Burmese",
    "Mandalay",
    "Tonkinese",
    "Oriental—Foreign White",
    "Oriental—Solid",
    "Oriental—Cinnamon and Fawn",
    "Oriental—Smoke",
    "Oriental—Shaded",
    "Oriental—Tabby",
    "Oriental—Tortie",
    "Oriental—Bicolor",
    "Havana",
    "Thai",
    "Siamese—Solid-Pointed",
    "Siamese—Tabby-Pointed",
    "Siamese—Tortie-Pointed",
    "Colorpoint Shorthair",
    "Seychellois",
    "Snowshoe",
    "American Shorthair",
    "European Shorthair",
    "Chartreux",
    "Russian Blue",
    "British Shorthair—Solid",
    "British Shorthair—Colorpointed",
    "British Shorthair-Bicolor",
    "British Shorthair—Smoke",
    "British Shorthair—Tabby",
    "British Shorthair—Tipped",
    "British Shorthair—Tortie",
    "Turkish Shorthair",
    "Ojos Azules",
    "Egyptian Mau",
    "Arabian Mau",
    "Abyssinian",
    "Australian Mist",
    "Ceylon",
    "Ocicat",
    "Ocicat Classic",
    "Sokoke",
    "California Spangled",
    "Toyger",
    "Bengal",
    "Kanaani",
    "Savannah",
    "Serengeti",
    "Chausie",
    "Munchkin",
    "Kinkalow",
    "Lambkin Dwarf",
    "Bambino",
    "Scottish Fold",
    "Highlander",
    "American Curl",
    "Japanese Bobtail",
    "Kurilian Bobtail",
    "Mekong Bobtail",
    "American Bobtail",
    "Manx",
    "Pixiebob",
    "American Ringtail",
    "Sphynx",
    "Donskoy",
    "Peterbald",
    "Ural Rex",
    "LaPerm",
    "Selkirk Rex",
    "Cornish Rex",
    "Devon Rex",
    "German Rex",
    "American Wirehair",
    "House cat—shorthair",
    "Persian Solid",
    "Persian—Blue- and Odd-eyed Bicolor",
    "Persian—Cameo",
    "Persian—Chinchilla",
    "Persian—Golden",
    "Persian—Pewter",
    "Persian—Cameo Bicolor",
    "Persian—Shaded Silver",
    "Persian—Silver Tabby",
    "Persian—Smoke",
    "Persian—Smoke Bicolor",
    "Persian—Tabby and Patched Tabby",
    "Persian—Tabby Tricolor",
    "Persian—Tortie and Calico",
    "Persian—Bicolor",
    "Himalayan",
    "Balinese",
    "Balinese-Javanese",
    "York Chocolate",
    "Oriental Longhair",
    "Tiffanie",
    "Chantilly/Tiffany",
    "Birman",
    "Maine Coon",
    "Ragdoll",
    "Ragamuffin",
    "Somali",
    "British Longhair",
    "Nebelung",
    "Norwegian Forest Cat",
    "Turkish Van",
    "Turkish Vankedisi",
    "Turkish Angora",
    "Siberian",
    "Neva Masquerade",
    "Munchkin",
    "Kinkalow",
    "Skookum",
    "Napoleon",
    "Scottish Fold",
    "American Curl",
    "Highlander",
    "Japanese Bobtail",
    "Kurilian Bobtail",
    "Cymric",
    "House cat—longhair" 
    ];

   // var breedsDog = [];

    $("#breeds").autocomplete({
      source: breedsCat
    });

    //$("#breeds").autocomplete({
    //  source: breedsDog
    //});



  });
</script>