 
  <h2>Pet</h2>
<%= form_for(@pet) do |f| %>
  <div class="form-group">
    <%= label_tag(:name) %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
   <%= f.label :size %> 
   <fieldset>
     <%= f.radio_button :size, "pequeno" %>
     <%= f.label :size_small, "Pequeno"  %>
     <%= f.radio_button :size, "Medio" %>
     <%= f.label :size_medium, "Médio" %>
     <%= f.radio_button :size, "grande" %>
     <%= f.label :size_big, "Grande" %>
    </fieldset>
  </div>


  <label>Idade</label>  
  <div class="form-group">
    <%= f.label :age, "Anos" %>
    <%= f.number_field :age, in: 1...15 %>

    <%= f.label :ageMonth, "Meses" %>
    <%= f.number_field :ageMonth, in: 1...12  %>
  </div>

  
   <div class="form-group">
   <%= f.label :animal, "Animal" %> 
    <fieldset>
      <%= f.label :animal_cat, "Gato" %>
      <%= f.radio_button :animal, "cat"  %>
      <%= f.label :animal_dog, "Cachorro" %>
      <%= f.radio_button :animal, "dog"  %>
    </fieldset>
  </div>

   <div class="form-group">
      <%= f.label :breed, "Raça" %>
      <%= f.text_field :breed, :class => "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :bio, "Descrição" %>
    <%= f.text_area :bio, :class => "form-control" %>
  </div>

  <%= f.submit :class => "btn btn-custom form-control text-center" %>

<% end %>