 <div class="container-fluid"> 
  <h2><%= t 'pets.form.title' %></h2>


<%= form_for @pet, :html => {  :multipart => true} do |f| %>


  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
         <%= image_tag @pet.picture.url(:thumb), :class => "img-circle" %>
       </div>
    </div>
    <div class="col-md-6">
 
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
         <%= f.file_field :picture, :class => "file" %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="form-group"> 
         <%= f.text_field :name, :class => "form-control", :placeholder => :name %>
       </div>
    </div>
  </div>


  <div class="form-group">
   <%= f.label :size %> 
   <fieldset>
     <%= f.radio_button :size, "small" %>
     <%= f.label :size_small  %>
     <%= f.radio_button :size, "medium" %>
     <%= f.label :size_medium %>
     <%= f.radio_button :size, "big" %>
     <%= f.label :size_big %>
    </fieldset>
  </div>


  <%= f.label :age %>
  <div class="form-group">
    <%= f.number_field :age, in: 0...15 %>
    <%= f.label :age %>

    <%= f.number_field :ageMonth, in: 1...12  %>
    <%= f.label :ageMonth %>
  </div>

  
   <div class="form-group">
   <%= f.label :animal %> 
    <fieldset>
      <%= f.label :animal_cat %>
      <%= f.radio_button :animal, "cat"  %>
      <%= f.label :animal_dog %>
      <%= f.radio_button :animal, "dog"  %>
    </fieldset>
  </div>

   <div class="form-group">
      <%= f.label :breed %>
      <%= f.text_field :breed, :class => "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, :class => "form-control" %>
  </div>

  <%= f.submit :class => "btn btn-custom form-control text-center"  %>

<% end %>

</div>