<li id="<%= pet.id %>"> 
  
	    <div class="like"></div> 
	    <div class="dislike"></div>

	      <div class="img"><%= image_tag pet.picture.url(:medium), :class => "img-responsive" %></div>
	      <%= link_to  pet_path(pet) do %>  
	      <div class="row">

             <div class="col-xs-6">
               <div class="user-pet"><i class="fa fa-paw"></i> <%= pet.name %></div>
             </div>

             <div class="col-xs-6">
                    <div class="user-breed "><i class="fa fa-paw"></i> <%= pet.breed %></div>
             </div>
          </div>
     <% end %>

 
  <%= link_to profileuser_pet_path(pet) do %>
 
          <div class="row">
             <div class="col-xs-6">
             <div class="user-location"><i class="fa fa-map-marker"></i>   <%= firstNameCity(pet.user.city)  %> <%= pet.user.state %> </div>
                 
             </div>
             <div class="col-xs-6">
                 <div class="user-name"><i class="fa fa-user"></i> <%= pet.user.firstName %>  </div>
             </div>
         </div>

    <% end %>


	</li>