 <div class="petProfile">
<h3><%= t('profile.title')%></h3>
<div class="row">
  <div class="col-xs-6">

   <%= image_tag @pet.picture.url(:thumb), :class => "img-circle" %>
  </div>
  <div class="col-xs-6"> 


       <h3><%= @pet.user.firstName %></h3>


  </div>
</div>
 

<div class="row">
  <div class="col-xs-6">
  <br>
      <label><%= t('profile.age') %></label>
   <p><%= age(@pet.user.dateOfBirth) %></p>
  </div>
  <div class="col-xs-6"> 
  <br>
    <label><%= t('profile.city') %></label>
   <p><%= @pet.user.city %> - <%= @pet.user.state %></p>

  </div>
</div>


<div class="row">
  <div class="col-xs-6">
    


  </div>
  <div class="col-xs-6">
         <label><%= t('profile.country') %></label>
   <p> Brasil </p>
  </div>
</div>

   <%= link_to t('links.back'), :back %>

 </div>

