 <div class="petProfile">

<div class="row">
  <div class="col-xs-6">

<%= image_tag @pet.picture.url(:thumb), :class => "img-circle" %>
  </div>
  <div class="col-xs-6"> 


       <h3><%= @pet.name %></h3>


  </div>
</div>
 

<div class="row">
  <div class="col-xs-6">
  <br>
      <label>Animal</label>
   <p><%= @pet.animal == "cat" ? "Gato" : "Cachorro" %></p>
  </div>
  <div class="col-xs-6"> 
  <br>
   <label>Raça</label>
   <p><%= @pet.breed %></p>

  </div>
</div>

<div class="row">
  <div class="col-xs-6">
  
   <label>Tamanho</label>
   <p><%= @pet.size %></p>

  </div>
  <div class="col-xs-6">
  
   <label>Idade</label>
   <p><%= @pet.age %> ano(s) e <%= @pet.ageMonth %> mes(es)</p>

  </div>
</div>

<div class="row">
  <div class="col-xs-6">
  
   <label>Descrição</label>
   <p class="text-justify"><%= @pet.bio %></p>

  </div>
  <div class="col-xs-6">
 
  </div>
</div>


<div class="row">
  <div class="col-xs-6">
  
   <%= link_to "Voltar", :back %>

  </div>
  <div class="col-xs-6">
  	 <% if @pet.user == current_user %>
        <%= link_to "Editar", edit_pet_path %>
     <% end %>
  </div>
</div>

 </div>

