 <div class="petProfile">

<div class="row">
  <div class="col-xs-6">

<%= image_tag @pet.picture.url(:thumb), :class => "img-circle" %>
  </div>
  <div class="col-xs-6"> 


       <h3><%= @pet.name %></h3>


  </div>
</div>
 

<div class="row">
  <div class="col-xs-6">
  <br>
      <label><%= t('pets.show.animal') %></label>
   <p><%= setting_language(@pet.animal) %></p>
  </div>
  <div class="col-xs-6"> 
  <br>
   <label><%= t('pets.show.breed') %></label>
   <p><%= @pet.breed %></p>

  </div>
</div>

<div class="row">
  <div class="col-xs-6">
  
   <label><%= t('pets.show.size') %></label>
   <p><%= setting_language(@pet.size) %></p>

  </div>
  <div class="col-xs-6">
  
   <label><%= t('pets.show.age') %></label>
   <p><%= @pet.age %> <%= t('pets.show.years') %> e <%= @pet.ageMonth %> <%= t('pets.show.month')%></p>

  </div>
</div>

<div class="row">
  <div class="col-xs-6">
  
   <label><%= t('pets.show.bio') %></label>
   <p class="text-justify"><%= @pet.bio %></p>

  </div>
  <div class="col-xs-6">
    <label><%= t('pets.show.gender') %></label>
    <p><%=  @pet.gender %></p>
  </div>
</div>


<div class="row">
  <div class="col-xs-6">
  
   <%= link_to  t('links.back'), :back %>

  </div>
  <div class="col-xs-6">
  	 <% if @pet.user == current_user %>
        <%= link_to t('links.pets.edit'), edit_pet_path %>
     <% end %>
  </div>
</div>

 </div>

