<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <ul class="nav navmenu-nav"> 
    	<li class="active"><%= link_to '<i class="fa fa-search"></i> '.html_safe + t('nav.search'), pets_path, method: :get  %></li>
    	<li><%= link_to '<i class="fa fa-users"></i> '.html_safe + t('nav.user'), edit_user_registration_path %></li>
      <li><%= link_to '<i class="fa fa-paw"></i>  '.html_safe + t('nav.pet'), current_user.pet.nil? ? new_pet_path : pet_path(current_user.pet)  %></li> 
      <!--
    	<li><a href="#"><i class="fa fa-paw"></i> Usuário</a></li>
    	<li><a href="#"><i class="fa fa-filter"></i> Filtro</a></li>
    	<li><a href="#"><i class="fa fa-life-ring"></i> 3Lovet</a></li>
      --> 
      <li><%= link_to '<i class="fa fa-sign-out"></i> '.html_safe + t("nav.sign_out"), destroy_user_session_path, method: :delete %></li>
    </ul>
</nav>

<div class="navbar navbar-default navbar-fixed-top">
  <button type="button" class="navbar-toggle button-nav" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <i class="fa fa-cog"></i>
  </button>
    <a class="navbar-brand" href="#">
   <%= image_tag "logo.png", alt: "Loveret Logo", :class => "img-responsive" %>
</a>
  <button type="button" class="navbar-toggle pull-right button-nav">
	<i class="fa fa-heart"></i>
  </button>

</div>