<!DOCTYPE html>
<html>
<head>
  <title>3Lovet</title>
  <%= render 'layouts/metatag' %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <%= render 'layouts/nav' %>     
  <% end %>
 
 
  <%= render 'layouts/message' %>
        
       <div class="container absolute">    

              <%= yield %>  

       <footer>Develop by <a href="www.rodolfopeixoto.com.br" target="_blank">Rodolfo Peixoto</a> - <b>Contato:</b> <a href="www.rodolfopeixoto.com.br" target="_blank">contato@3lovet.com</a> </footer>
       </div>


</body>
</html>