<!DOCTYPE html>
<html>
<head>
  <title>3Lovet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A 3Lovet é uma aplicação web e mobile que tem o intuito de levar o amor ao seu pet.">
  <meta charset="UTF-8">
  <meta name="keywords" content="pets,animal de estimação,cachorrinhos,gatinhos,amor pet,3Lovet, app pet, web app pet">
  <meta name="author" content="Rodolfo Peixoto">
  <meta property="og:title" content="O melhor App para Pet - 3Lovet">
  <meta property="og:image" content="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/12642719_1533918803573186_5434383414333397743_n.png?oh=fc7a48fbca52b98dcfc368630e302cd0&oe=5724FE54&__gda__=1462018652_c14f548a57778a9846a6f920ef9c310c">
  <meta property="og:description" content="A 3Lovet é uma aplicação web e mobile que tem o intuito de levar o amor ao seu pet.">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <%= render 'layouts/nav' %>     
  <% end %>
      <div class="container">
     
              <p class="notice text-center"><%= notice %></p>
              <p class="alert text-center"><%= alert %></p>
                   
              <%= yield %> 
          
      </div>


</body>
</html>